html {
  overflow-y: scroll;
}

.home-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.left-section {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 100%;
  height: auto;
}

.right-section {
  width: 67%;
  padding: 20px;
}

.right-section h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.right-section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.links a {
  margin: 0 10px;
}

.social-icon {
  width: 200px;
  height: auto;
}

.treats-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.treats {
  width: 150px;
  height: auto;
}

@media (max-width: 768px) {
  .profile-picture {
    width: 75%;
    height: auto;
  }

  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .left-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .right-section {
    width: 100%;
    padding: 0 20px;
  }

  .social-icon {
    width: 150px;
  }

  .treats {
    width: 100px;
  }
}
