.projects-container {
  text-align: center;
}

.screenshots {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.screenshots img {
  width: 250px;
  height: auto;
}

.download-apk {
  width: 20%;
}

.xkcd-paragraph {
  text-align: left;
}

@media (max-width: 768px) {
  .screenshots {
    flex-direction: column;
    align-items: center;
  }

  .screenshots img {
    width: 100%;
    max-width: 250px;
  }
}